.SearchBar {
    width: 800px;
    height: 64px;
    max-width: 80%;
    border: 2px solid #C0C0C0;
    border-radius: 10px;
    
}

.SearchBarForm {
    display: flex;

    position: fixed;
    bottom: 0px;
    
    width: 70%;
    left: 50%;
    transform: translate(-45%);
    background-color: #E0DEF0;
    padding-bottom: 50px;
    padding-top: 10px;
}

.submitButton {
    width: 100px;
    height: 70px;
    border: 2px none #C0C0C0;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #89B7F9;
}

.submitButton:hover {
    background-color: #5698F7;
}